@tailwind base;
@tailwind components;
@tailwind utilities;

@import "fonts.css";
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter var", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Blockquote CSS */

blockquote {
  border-left: 3px solid purple;
  font-family: inherit;
  font-style: italic;
  line-height: 1.8em;
  margin: 1.1em -4em;
  padding: 1em 2em;
  position: relative;
  z-index: 0;
}

@media only screen and (max-width: 480px) {
  blockquote {
    margin: 0;
    padding: 0;
    line-height: normal;
    font-style: normal;
  }
}

@media only screen and (max-width: 768px) {
  blockquote {
    margin: 0;
    padding: 0;
    line-height: normal;
    font-style: normal;
  }
}

.dark blockquote::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -4px;
  height: 2em;
  background-color: #111827;
  width: 5px;
  margin-top: -1em;
}

blockquote::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -4px;
  height: 2em;
  background-color: #fff;
  width: 5px;
  margin-top: -1em;
  border: none;
}

blockquote::after {
  content: "\275E";
  position: absolute;
  top: 50%;
  left: -0.5em;
  color: purple;
  font-family: "Ionicons";
  font-style: normal;
  font-size: 3rem;
  line-height: 1em;
  text-align: center;
  text-indent: -2px;
  width: 1em;
  margin-top: -0.3em;
}

cite {
  display: block;
  font-size: 0.75em;
  line-height: 1.8em;
  margin-top: 1em;
}
